*{
	margin: 0px;
}

.p{
	display: inline;
}

header{
	font-family: 'Luckiest Guy', cursive;
	font-size: 5em;
	text-align: left;
	color: orange;
	/*Descobrir como fazer degrade*/
	text-shadow:
   -5px -5px 0 #000,  
    5px -5px 0 #000,
    -5px 5px 0 #000,
     5px 5px 0 #000;
     background: #ad42f4;
     padding: 15px;
}

body{
	font-size: 100%;
}

#left, .board, #right{	
	float: left;
	padding: 15px;
	position: relative;
}

#left, #right{
	width: 24%;	
}

.board{
	width: 46%;
	text-align: center;
	background: orange;
}

#tokyomap{
	width: 100%;
	height: 80%;
	position: relative;
	z-index: 2;
}

.monsterOnTokyo{
	width:40%;
	height: 30%;
	bottom: 160px;
	right: 250px;
	z-index: 1;
	position: absolute;
}

.players{
	text-align: center;
	position: relative;
	margin-bottom: 10px;
}

.nameMonster{
	font-family: 'Luckiest Guy', cursive;
	font-size: 2em;
	text-align: center;
	color: #00cc00;
}

.infoMonster{
	display: inline-block;
	margin: 5px;
	padding: 5px;	
	font-family: 'Luckiest Guy', cursive;
	font-size: 1.5em;
	border-bottom: 2px solid gray;
	border-right: 2px solid gray;
	border-top: 2px solid white;
	border-left: 2px solid white;
}

.life{
	background: #ff1a1a;
	color: white;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.points{
	background: white;
	color:#66b3ff;
	position: absolute;
	top: 10;
	left: 10;
}

.money{
	background: #00cc00;
	color: black;
	position: absolute;
	bottom: 10;
	left: 10;
}

.monsters{
	width: 100%;
}

.button{
	background-color:  #00cc00;
	border-radius: 6px;
	border: none;
	color: rgb(255, 255, 255);
	padding: 10px;
	text-transform: uppercase;
	width: 200px;
	cursor: pointer;
	margin: 10px;
	margin-bottom: 20px;
	display: inline-block;
}

#buttonStart{
	font-family: 'Luckiest Guy', cursive;
	font-size: 50px;
	position: absolute;
	right: 100;
	top: 5;
	background: orange;
	color: black;
	border: 5px solid black;

}

.dices{
	height: 100px;
	width: 100px;
	display: inline-block;
	border: 2px solid #00cc00;
	border-radius: 10px;
	background: black;
	color: #00cc00;
	text-align: center;
	font-size:50px;
	/*descobrir como centralizar verticalmente*/
	vertical-align: middle;
	cursor: pointer;
	position: relative;
}

#p1, #p2, #p3, #p4, #p5, #p6{
	position: absolute;
	bottom: 0;
	right: 0;	
	display: none;
	max-width: 30%;
	height: auto;
}

/*descobrir o que está duplicando*/
.cards{
	height: 250px;
	width: 200px;
	display: inline-block;
	border: 2px solid black;
	border-radius: 10px;
	background: black;
	color: red;
	text-align: center;
	font-size:50px;
	cursor: pointer;
	position: relative;	
	margin: 5px;
}

.miniCards{
	position: relative;
	border: 2px solid red;
}

.miniCard{
	position: relative;
	width: 10%;
	right: 0px;
}

.miniCard:hover {
	transform: scale(5.5);
	z-index: 30;

	
}

.infoCard{
	display: inline-block;
	margin: 5px;
	padding: 5px;	
	font-family: 'Luckiest Guy', cursive;
	font-size: 20px;
	/*
	border-bottom: 2px solid gray;
	border-right: 2px solid gray;
	border-top: 2px solid white;
	border-left: 2px solid white;*/
}

.price{
	font-size:30px;
	background: white;
	color: black;
	position: absolute;
	top: -5;
	left: -5;
	border-radius: 100px;
}

.name{
	color: #66b3ff;
	position: absolute;
	top: 10;
	left: 70;

}

.action{
	color: #66b3ff;
	position: absolute;
	top: 100;
	left: 70;
}

.description{
	font-family: 'Montserrat', sans-serif;
	background: white;
	color: black;
	position: absolute;
	padding: 15px;
	bottom: 0;
	left: 5;
	font-size: 15px;
	width: 150px;
	text-align: center;
	border-radius: 15px;

}



